<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css"/>
    <style>
        .banner{
            height: 300px;
            border: 1px solid black;
            margin: 10px;
            background-image: url('../images/js.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-inverse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
      </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12 banner">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, atque dolores voluptatibus unde ratione fugiat, similique optio accusantium quas placeat exercitationem fuga. Optio atque laborum fugiat placeat tempora animi doloribus deserunt assumenda, aspernatur similique nostrum quia, voluptatum ab a voluptatem incidunt eaque illo non! Consectetur architecto, ea illo recusandae adipisci totam. Eveniet veritatis impedit magni itaque est quae eligendi accusantium. Eaque voluptatum nobis tempora minus, fugiat veniam facilis? Amet, in possimus recusandae tempora enim quo unde fugit laboriosam non debitis adipisci explicabo veniam accusamus? Magni necessitatibus ipsa fugit tempore impedit. Consequatur dignissimos iure fugiat et dolor accusamus expedita facere adipisci.</p>
            </div>
        </div>    
    </div>
  </body>
</html>
