<html>
    <head>
        <%- include('../partial/_bootstrap_lib.ejs')%>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <%- include('../partial/_admin_user_navigation.ejs')%>
        <h1>User-Admin Home Page</h1>
    </body>
</html>