<html>
    <head>
      <%- include('./partial/_bootstrap_lib.ejs')%>     
      <link rel="stylesheet" href="/css/style.css"/>
      <style>
          
      </style>
    </head>
    <body>
      <%- include('./partial/_navigation.ejs')%>
      <div class="container mt-5">
          <div class="row">
              <div class="col-12 banner">
 
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <h1>About us</h1>
                <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus eligendi laboriosam obcaecati perspiciatis et, quibusdam nisi a, debitis at dignissimos commodi. Voluptatem, placeat repellat necessitatibus facere minus dolorem deserunt minima cupiditate error, nulla assumenda veniam tenetur incidunt architecto alias quae amet asperiores consequuntur. Hic inventore amet harum expedita quas, in, quae quibusdam cumque quam, possimus necessitatibus ab asperiores? Pariatur ut ratione aperiam inventore vitae, ex distinctio deserunt rem voluptatem, aliquid possimus. Commodi maxime asperiores cupiditate officiis modi deserunt error, qui, eos a iste ipsum, quam optio eaque facere necessitatibus eligendi! Sunt, architecto veniam voluptas officiis ea doloribus perferendis voluptates reiciendis nisi, cum sit quas iure eaque ipsa quam maiores natus magni dolor nemo hic cupiditate! Tempore, quas quibusdam? Dolore neque nisi ipsa a aspernatur autem quis cupiditate dignissimos reprehenderit quaerat atque distinctio velit accusamus deserunt laborum excepturi, temporibus corporis possimus doloremque ex! Officia nostrum consequuntur sit odio nobis provident temporibus eius, quibusdam officiis earum, facere doloremque cum quia, molestiae harum veniam. Perferendis neque odit iusto non laboriosam labore sunt molestias nemo veniam, ullam cumque iure dolores consequuntur, voluptate tempora laborum illo? Laudantium, soluta repellendus quisquam qui neque dolorem voluptatem dolore repudiandae fugiat modi tenetur numquam quos accusantium illum accusamus. Beatae, rem quia? Voluptates debitis unde dignissimos! Quos tempore distinctio doloremque pariatur, esse magnam ad ratione nostrum sint, vitae quasi totam porro perspiciatis provident nulla nisi aliquam quo voluptatibus veniam vel laborum deleniti at? Minima praesentium obcaecati et veritatis quibusdam, facilis earum eveniet veniam aspernatur, molestias ipsam perferendis nobis quas? Voluptatem iure eligendi quibusdam, qui laudantium veniam accusamus optio esse ducimus rerum aut quae. Asperiores reprehenderit pariatur at rem quisquam nihil ipsam odio, optio incidunt explicabo cumque illum quis itaque deserunt possimus natus, labore error! Expedita, inventore. Eius, velit. Vel autem fugiat nisi, nesciunt deleniti ratione saepe harum excepturi aperiam aliquam.</p>
            </div>
          </div>
      </div>
    </body>
</html>