<html>
    <head>
      <%- include('./partial/_bootstrap_lib.ejs')%>     
      <link rel="stylesheet" href="/css/style.css"/>
      <style>
          
      </style>
    </head>
    <body>
      <%- include('./partial/_navigation.ejs')%>
      <div class="container mt-5">
          <div class="row">
              <div class="col-12 banner">
 
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus alias eius ullam amet unde excepturi inventore incidunt dolorum nihil exercitationem vitae, voluptatibus libero voluptatem, molestias odio harum quidem est. Nobis officia sit pariatur ab facere. Quo repellat omnis dolores sint laudantium tempora id, nesciunt est quidem maxime fugit cupiditate dolor officia commodi assumenda quis magnam veritatis voluptatibus, reprehenderit tempore enim autem veniam! Pariatur, fugiat dolorum. Aperiam autem molestiae vel maxime aliquid id eius ad suscipit adipisci quam, dicta obcaecati neque accusantium saepe minus reprehenderit placeat reiciendis, aspernatur facere alias esse voluptatum. Consequatur repellendus molestiae debitis deserunt. Iure, explicabo.</p>
            </div>
          </div>
      </div>
    </body>
</html>