<nav class="navbar navbar-expand-sm bg-dark navbar-inverse">
    <ul class="navbar-nav">
      <li class="nav-item active">
            <a class="nav-link" href="/user/add-product">Welcome <%=username%></a>
      </li>  
      <li class="nav-item active">
        <a class="nav-link" href="/user/add-product">ADD PRODUCT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/product-list">PRODUCT LIST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">LOGOUT</a>
      </li>
    </ul>
  </nav>
 